
@media (min-width:800px) {
    body{
        font-family: 'Outfit', sans-serif;
        text-align: center;
        padding-top: 5%;
        background-color: hsl(212, 45%, 89%);
    }
    img{
        padding-top: 1%;
        width: 97%;
        border-radius: 20px 20px 20px 20px;
    }
    p{
        margin: auto;
        line-height: 1.5;
    }
    .paragraf-1{
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        font-size: 23px;
        padding: 7% 7%;
        color: hsl(218, 44%, 22%);
    
    }
    .paragraf-2{
        font-weight: 400;
        padding: 1%;
        color: hsl(220, 15%, 55%);
        padding-bottom: 6%;
    }
    .obramowanie{
        width: 25%;
        padding: 10px;
        border-radius: 20px 20px 20px 20px;
        background-color:hsl(0, 0%, 100%);
         margin: 0 auto; /* centrowanie diva */
         -webkit-box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);
        box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);

    }
    .attribution{
        padding-top: 5%;
    } 
}
@media (max-width:800px) {
body{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    padding-top: 5%;
    background-color: hsl(212, 45%, 89%);
}
img{
    padding-top: 1%;
    width: 97%;
    border-radius: 20px 20px 20px 20px;
}
p{
    width: 50%;
    margin: auto;
    line-height: 1.5;
}
.paragraf-1{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 23px;
    padding: 7% 7%;
    color: hsl(218, 44%, 22%);

}
.paragraf-2{
    font-weight: 400;
    padding: 1%;
    color: hsl(220, 15%, 55%);
    padding-bottom: 6%;
}
.obramowanie{
    width: 80%;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    background-color:hsl(0, 0%, 100%);
    margin: 0 auto; /* centrowanie diva */
    -webkit-box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);
        box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);
}
.attribution{
    padding-top: 5%;
} }
