
    body{
        font-family: 'Outfit', sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        background-color: hsl(212, 45%, 89%);
    }
    img{
        width: 100%;
        border-radius: 20px 20px 20px 20px;
    }
    p{
        margin: auto;
        line-height: 1.5;
    }
    .paragraf-1{
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        font-size: 20px;
        padding: 7% 7%;
        color: hsl(218, 44%, 22%);
    
    }
    .paragraf-2{
        font-weight: 400;
        padding: 1%;
        color: hsl(220, 15%, 55%);
        padding-bottom: 6%;
    }
    .obramowanie{
        max-width: 320px;
        padding: 10px;
        border-radius: 20px 20px 20px 20px;
        background-color:hsl(0, 0%, 100%);
         -webkit-box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);
        -moz-box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);
        box-shadow: 7px 0px 28px 4px rgba(66, 68, 90, 1);

    }
    .attribution{
        padding-top: 5%;
    } 

